# Node
node_modules/

# Vite build
learn/dist/
.vite/

# Cache and archive folders
cache/

# Env/local config (ignore local env files)
*.local
.env*

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
logs
*.log
npm-debug.log*
